<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'informations-edit' pk=detail.pk %}">Modifier l'article</a>
    <h1>Author : {{ detail.author }}</h1>
    <h1>Title : {{ detail.title }}</h1>
    <h1>Content : {{ detail.content }}</h1>
    <a href="{% url 'informations-delete' pk=detail.pk %}">Supprimer l'article</a>
    <a href="{% url 'index' %}">return Home</a>
</body>
</html>